* {
  box-sizing: border-box;
  padding: 0;
  border: none;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
/* section */
section {
  padding: 20px 0px;
  overflow: hidden;
}

.section-bg {
  background-color: #f3f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}
/* carousel */
.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}

.services .icon-box .icon {
  margin-bottom: 10px;
}

.services .icon-box .icon i {
  color: #47b2e4;
  font-size: 36px;
  transition: 0.3s;
}

.services .icon-box h4 {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #37517e;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  transform: translateY(-10px);
}

.services .icon-box:hover h4 a {
  color: #47b2e4;
}

.slide-title {
  color: #f80;
  font-size: xx-large;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 0;
  text-shadow: 1px 1px 1px #333;
  line-height: 1.1;

}

.slide-desc {
  font-weight: 600;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  margin-bottom: 0;
}

.carousel-caption {
  right: 0;
  left: 0;
  top: auto;
  bottom: 150px;
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
}

.section-fluid .col-left,
.section-fluid .col-right {
  font-size: 17px;
}

.section-fluid .col-left-content--6 {
  margin-right: 45px;
  float: right;
}

.section-fluid .col-left-content--6,
.section-fluid .col-right-content--6 {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin: 60px 15px;
  text-align: justify;
}

.col-bg-icon--mission {
  position: relative;
  z-index: 1;
}

.text-justify {
  text-align: justify;
}

.section-fluid-heading {
  font-size: 40px;
}

.section-fluid-heading {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
/* content */
.list-vision li {
  color: #f80;
  position: relative;
}

.list-vision li,
.list-mission li {
  margin-bottom: 10px;
}

.list-mission {
  padding-left: 40px;
  padding-left: 30px;
}

.list-vision {
  padding-left: 40px;
  padding-left: 30px;
  margin-top: 30px;
}

ul {
  padding: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

p,
ul {
  margin-bottom: 20px;
  line-height: 1.75em;
}

.col-xl-6 {
  flex: 0 0 auto;
  width: 50%;
}

.g-0,
.gx-0 {
  --bs-gutter-x: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.bg--orange {
  background-color: #f80;
  color: #333;
}

.bg--black {
  background-color: #333;
  color: #f80;
}

.footer-copyright {
  background-color: #131313;
  color: #b2b2b2;
  padding: 30px 0;
}

.content-navbar {
  text-transform: uppercase;
  display: block;
  font-weight: 500;
}

.section-wrapper {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  box-sizing: border-box;
  margin: 0;
  border: none;
  position: relative;
  background-color: #f6f6f6;
  padding: 150px 0;
}

.section-heading strong {
  color: #f80;
}
/* contact */
.page-heading--contact {
  margin-bottom: 50px;
}

.page-heading{
  padding: 100px 0;
}

.page-heading-title{
  color: #f80;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 30px;
  font-family: Roboto Slab,Helvetica,Arial,sans-serif;
}

.page-heading-text{
  font-size: 18px;
  margin-bottom: 15px;
}

.page-heading-text-below{
  font-size: 18px;
  margin-top: 5%;
  margin-bottom: -35px;
}